New API proposal: Site to cloud (S2C) VPN

Hello colleagues,

This is a new API proposal called Site to cloud (S2C) VPN. This API allows the consumers or application developers to quickly create and configure site to cloud network service(such as private/non-public line connection between the client site and the cloud) by one click instead of configuring service manually, and can improve the efficiency of network activation for operators and improve the perception of services activation. 

This API aims to be widely used for enterprises requiring the  elastic large bandwidth, flexible on-demand access modes, 
private/non public internet access(low latency, high guarantee,security) and flexibly expanded conection of customers’ branch sites for multi-site to cloud connection.

We have done the investigation of existing API and do the gap analysis, we find out that this API does not conflict with the 13 existing API sub projects in CAMARA. May I ask whether we can try to establish a new project for this API and make contributions to CAMARA through this API project?

Any suggestions from you will be of great help to us. Any supporting members and contributors interested in this API are welcome. Thank you!

PR #273 

IETF documents (RFCs) specifying the network API to support S2C VPN API are as follows: 
RFC9291: L2 VPN Network Model
RFC9182: L3 VPN Network Model
RFC 6241: Network Configuration Protocol (NETCONF) and etc.



The API owner (China Telecom) has asked to take the API proposal for approval to TSC meeting on 7th Sept.

The API proposal has not been approved (clarification requested) in the TSC meeting held in 7th Sept. 
During the TSC meeting, George Class (TM Forum) noted a possible colission of this API with work done in TM Forum. He mentioned that AT&T will showcase on DTW23 in Copenhaguen a catalyst on the same topics. After some discussion, TSC asked to @DanXu-ChinaTelecom (China Telecom) to clarify the API scope with current work done by AT&T and check whether AT&T could be a supporter of the API. @bigludo7 (Orange) volunteer to help put China Telecom in contact with TM Forum and AT&T delegates.

Discussion summary of relationship between CAMARA-S2C VPN and  TMF Catalyst "Private Optimized Connectivity ":
Ludovic(Orange) helps to bridge the connection between CAMARA and TMF. Thus, we discuss with Christophe (AT&T interlocutors), who is  responsible for TMF Catalyst "Private Optimized Connectivity ".
Private Optimized Connectivity derives from TMF702 – resource activation, it broadly defines that an improved, private connectivity must be established from point A (mobile device) to point B (app).
S2C VPN provide connectivity from dedicated (non-shared) access points (e.g  colocation sites, offices or data centers) to the cloud

Both of these two APIs aim to provide performant, reliable, secure connectivity, however, they are different in the following aspects:

1. Site To Cloud VPN belongs to FBB domain, and Private optimized connectivity belongs to MBB domain;
2. These two APIs serve for different scenarios. Site To Cloud VPN supports non-shared connectivity from enterprise site(fixed access) to the VPC in cloud, and Private optimized connectivity supports better connectivity from mobile devices(5G access) to Enterprise APP (cloud app)

@DanXu-ChinaTelecom FBB = Fixed Broadband, MBB = Mobile Broadband, right? That alone wouldn't be an argument to develop different APIs or - if different APIs are needed - to not having them in the same API family. E.g. we are currently trying in QualityOnDemand to have one API which fits to mobile and fixed access, even if the QoS profiles might be different.

@hdamker Thanks for your comments. Your understanding about FBB( Fixed Broadband), MBB(Mobile Broadband) is right, I'm sorry for telco specific abbreviation but not giving the acronyms, I'll avoid this.
I agree with you that one API can fit to mobile and fixed access. Actually, the main difference of these two APIs is not the domain, since these two APIs fit for very different use cases, for example:

TMF Catalyst-Private Optimized Connectivity:  Establish a performant connection in a Use Case(  e.g. stadium/Tele Hospital/Media Streaming/ High Stake Assessment) according to Catalyst overview and TMF 759 API, and the most performant path is the one that optimizes some criteria from a given set of metrics, typically 
network latency. In these Use Cases, without this API, the mobile devices are experiencing poor connectivity.

Site To Cloud VPN: Establish cloud leased network connection service from one enterprise site( education, medical, court, digital Museum) to cloud. This API is to book and activate service on demand, and the resource is not for the public. In these Use Cases, without this API, the cloud leased connectivity is not exist at all. Thus, Site To Cloud VPN is not for existing poor connectivity Use Cases, it's for the Use Cases which want cloud leased network connection to enjoy non-shared and reliable quality.

Therefore,  Site To Cloud VPN has no overlap with TMF Catalyst-Private Optimized Connectivity and QoD.


As far as my understanding, the main difference is the scenario. TMF Catalyst Private Optimized Connectity strictly restricted, that the scenario is between one terminal device to a cloud application. Bascially, it includes the functions of 1) deploy one app to a cloud 2) define the port of the terminal device 3) set connection between the two. Basically, it's more related to edge cloud I believe. 

While site to cloud vpn is to API of service creation. Supposed that for a enterprise, or for cloud vendors, who needs to buy a fast, private network line between one enterprise location to one cloud. Then he use Site To Cloud, to create such a totally new phisycal cloud line. The api is basically used to create/release such a cloud line. 

@DanXu-ChinaTelecom thanks for clarification of MBB vs FBB. That's clear now.

Regarding the functionality of the API, especially the statement of @ShutingQing I'm now have the impression is about a product or service order API which initiates the delivery of the new private line (from @ShutingQing statement):

> ... who needs to buy a fast, private network line between one enterprise location to one cloud. Then he use Site To Cloud, to create such a **totally new phisycal cloud line**. The api is basically used to create/release such a cloud line.

Delivering a new physical line is normally a long-running process which is definitely not done with a "single click". Can you clarify - also the relations to MEF APIs to order leased lines?

The new physical cloud line here means a new VPN, which is based on the current network infrustructure. For example, supposed that I'm an enterprise owner, located in office B. My server is on Cloud A. Using APIs from STC, operators may create such a new VPN based on current network infrustructure from office B to Cloud A. 

@hdamker 
MEF APIs focuses on ordering and billing from business level, they define product-specific attributes.

S2C VPN API aims to define service-specific attributes to expose cloud leased connectivity service from user service intent  for flexible invocation.

The API voting has been included in the agenda of TSC meeting on 20th Sept.

Hello @pjhac @DanXu-ChinaTelecom 
During last TCS we noted:

> Proposal unchanged but discussion between both CAMARA & TMF proposal occurred in the CAMARA git.
We need to have another round of discussion and in particular a statement of the TM Forum for this API.
Pierre Close (AT&T) explained the scope of the TMF API proposal and ask to be involved in the discussion and will reach AT&T involved (for reference https://github.com/camaraproject/WorkingGroups/issues/271)


Pierre, did you have any update about discussion with TMF on this topic? 

Hello @bigludo7  @DanXu-ChinaTelecom 

I would like to clear any potential misunderstanding about both POC Catalyst and TMF 759, with the hope it helps understand what the API and the Catalyst do.

TMF 759 (Private Optimized Binding) scope is twofold:

1. enable/disable a private (non-shared, non-public) connection (binding), which is
2. optimized (ensure the connectivity is using the most performant path).

Therefore, TMF 759 is not only for existing poor connectivity situations, it is for use cases where network connection needs to be non-shared (non-public) and of reliable quality -- you get both. Additionally, TMF 759 is technology agnostic and must not be limited to the technological scope of the POC Catalyst.

The POC catalyst is leveraging TMF759 to have both a Private (P), most performant & reliable (Optimized, O) connection (C) between User Equipment and Cloud Application.

I hope this clarifies the scope of both TMF 759 and POC Catalyst.

Best regards,
Pierre

Hi  @pjhac @bigludo7 

Thanks for your clarification about the scope of POC Catalyst and TMF 759. 

As you mentioned, POC catalyst is leveraging TMF759 to have both a Private (P), most performant & reliable (Optimized, O) connection (C) between User Equipment and Cloud Application,  so the connectivity should really be seen as a binding between an user equipment and a cloud application.  
S2C VPN is to establish the connectivity between one enterprise site( education, medical, court, digital Museum) to cloud pool.

The attributes for these two connectivity are different:
1.In S2C VPN,  enterprise site are described with attributes( access node/site type,  access node/site ip address),  and cloud pool are described with attributes(end node/cloud pool type,  end node/cloud pool ip address, VPC ID),  while in POC catalyst and TMF 759,  user equipment and cloud application are described with attributes(Id, Href, operationalState, Name) 
2. In S2C VPN, the connectivity service are described with attributes (network availability level: e.g A, AA, AAA, bandwidth: e.g from 2M to 10G),  while  in POC catalyst and TMF 759, it describes BindingFeature with attributes(id: String, isEnabled: boolean, name:String)

I hope my understanding is correct, and would like to  work together for S2C VPN API.



Best regards,
Dan


Thanks for updates. For TMF representative, I feel sorry that I didn't find their github contact here. Should we contact them in email? I believe Dan Xu has clarified this with Christophe and George before. 

> We need to have another round of discussion and in particular a statement of the TM Forum for this API.

Alignment with SDOs is a long term progress. I believe, after the project is set up, subprojects still need to work with SDOs. So we'll suggest TMF and ATT to join, then in the long term, we can cooperate in the API development. 

In the meantime, except for TSC decision meeting, we are very welcome TSC participants to give suggestions for us in issue here. So then we can clarify in normal days as soon as possible, to better accerlerate the progress. As we can see that, we'be been onboarding this API since July. Hopefully, next TSC meeting, we can solve all doubts, and set up the project successfully.

Follow up Shuting's comment, which TMF representative should I @ here for giving a statement of the TM Forum for this API? @hdamker @bigludo7 @jordonezlucena 
Thanks!

Thanks all for suggestions and feedbacks, and especially thank you @pjhac for your detailed clarification, and @bigludo7 and @jordonezlucena for offering helps on connecting AT&T and TM Forum. 

Regarding the clarification of the scope of TMF 759 and POC Catalyst from  AT&T colleagues Christophe and Pierre, please allow me and Dan to do a sum up regarding on the differences in TMF 759, PoC Catalyst and Site To Cloud: 
POC catalyst is leveraging TMF759 to have both a Private (P), most performant & reliable (Optimized, O) connection (C) between User Equipment and Cloud Application.
S2C VPN is to establish the connectivity between enterprise site(not a UE) to cloud pool.  
The scenarios and attributes for these two connectivity are different:
1.In S2C VPN, enterprise site are described with attributes( access node/site type, access node/site ip address), and cloud pool are described with attributes(end node/cloud pool type, end node/cloud pool ip address, VPC ID), while in POC catalyst and TMF 759, user equipment and cloud application are described with attributes(Id, Href, operationalState, Name)
2. In S2C VPN, the connectivity service are described with attributes (network availability level: e.g A, AA, AAA, bandwidth: e.g from 2M to 10G), while in POC catalyst and TMF 759, it describes BindingFeature with attributes(id: String, isEnabled: boolean, name:String)

Site To Cloud VPN API Family will focus on Service API from custormer-based connectivity capability availability evaluation and optimization aspect in the first stage, it can be useful in industry connectivity scenarios such as education, medical, court, digital museum etc which required non-shared and reliable connectivity from their site to cloud pool. It is in the scope of CAMARA, which pays attention to Service API. 

I believe it is very important to align with TM Forum in the long run to make sure each API is healthy developing with the industry consensus. We'll always be welcoming SDOs, companies, individuals, and participants come and join, jointly working on the alignement for the API. 

Please let me know if there's something else that we missed and need to be clarified for next TSC consideration. 

Thanks for every suggestions. As TSC suggested, we've contacted TM Forum and ATT for clarification, statement are as above. We will ask for decision for the next TSC.

Hello, as explained during October 19th API Backlog meeting, in TMF 759 the BindingFeature entity, based on TMF Feature entity, allows for Characteristics (key/value pairs), which in turn allow to define custom properties (what are the KPIs to use for the Optimized part, grades, and so on); this is to support the technology-agnostic goal of TMF 759.

@pjhac Thanks for clarification. So I believe there is no collision between the Site To Cloud Service API and Catalyst. Again, we would like to align with SDOs, either GSMA or TMF in the long run. And we welcome SDOs, companies, individuals to come together and jointly define the Service API. 

And another thing needs to be clarify is Site To Cloud VPN API is service API face to developer directly. The API is meant to give developers, or enterprise users to get or delete a VPN at will by one click using service API. In the first stage, we'll not contain the binding feature. But we will always welcome anyone with new features, under the guidance of SDOs. 

Dear colleagues
FYI.
S2C VPN API submitted to GSMA Open Gateway Product Stream drop3, the Market commitment evaluation is very substantial, which show the important potential market value.
This API is intented for developers, serving the applications invoking Site To Cloud connectivity capabilities, such as supporting cloud court application for cloud court trial video storage, cloud rendering application for rendering task scheduling, private and secure meetings with high privacy requirements, and etc.


Best regards,
Dan

The API proposal has been approved in the TSC meeting held in 2nd Nov
As for next steps:

- Supporting companies (China Telecom, Huawei, China Unicom) to propose their initial maintainers for the subproject (AP 20231102-02 [here](https://github.com/camaraproject/WorkingGroups/pull/338)).
- TSC will collect this information, and decide to propose optional additional initial maintainers. The TSC will officially nominate the (list of) initial maintainers by next TSC meeting.
- CAMARA admins will create the subproject repository.
@DanXu-ChinaTelecom @ShutingQing [@chinaunicomyangfan](https://github.com/chinaunicomyangfan) propose initial maintainers from your companies.

China Mobile also supports this API and would like to be the maintainer,  the maintainer will be me (Hanbai Wang)

 Xianyang Zhang( China Telecom) and Jin Xu(HuaWei) will be the maintainers

> Xianyang Zhang( China Telecom) and Jin Xu(HuaWei) will be the maintainers

For China Telecom, they're Dan Xu and Xian Yang Zhang;
For Huawei, they're Jin Xu and Shuting Qing

> > Xianyang Zhang( China Telecom) and Jin Xu(HuaWei) will be the maintainers
> 
> For China Telecom, they're Dan Xu and Xian Yang Zhang; For Huawei, they're Jin Xu and Shuting Qing

Hi, please include the Github accounts of these people. These are needed. 

@DanXu-ChinaTelecom 


@DanXu-ChinaTelecom This is Xianyang Zhang from Chinatelecom

@jordonezlucena  
Hi Jose, thanks for the reminding, @zxyxwz @philipxujin  These are their Github accounts.


@chinaunicomyangfan will be maintainer from China Unicom


[SiteToCloudVPN](https://github.com/camaraproject/SiteToCloudVPN) Sub-Project is created, so the issue can be closed.  Work on API definition and maintained will continue in the Sub-Project.